* {
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.hidden{
    display:none;
}

body{
  font-family: 'Lato', sans-serif;
  color:#021D3C;
  line-height: 2em;
}

h1, h2{
    font-family: 'Lato', sans-serif;
}

nav{
    float:left;
    width: 17%;
    min-width:210px;
    background:white;
    position:fixed;
    height: 100%;
    overflow-x:hidden;
}

nav div h1{
    display: block;
}

nav div h1 a:hover{
    text-decoration: none;
}

nav .logoWrapper:hover .hovered {
    transition: clip .3s ease-in-out;
    clip:rect(0,170px,53px,0);
}

nav div h1.noHover a {
    width:170px;
    font-size: 0.8em;
    text-align: center;
    padding:10px;
    font-weight: 100;
    border:1px solid #021D3C;
    color:#021D3C;
    margin: auto;
    display: block;
}

nav div h1.hovered{
    position:absolute;
    top:-20px;
    left: 21px;
    clip:rect(0,0px,53px,0);
}

nav div h1.hovered a{
    width:170px;
    font-size: 0.8em;
    text-align: center;
    padding:10px;
    font-weight: 100;
    border:1px solid #021D3C;
    color:#ffffff;
    margin:auto;
    display:block;
    background:rgba(2,29,60,1);
    }

.navigation{
    overflow-y:scroll;
    display:block;
    position:absolute;
    top:83px;
    left: 0;
    bottom:0;
    width: 105%;
}

nav ol li ol li a{
    padding-left:55px;
}

nav .logoWrapper {
  position: relative;
  margin: 16px;
  height:51px;
  box-sizing: border-box;
    box-shadow: 0 5px 5px rgba(255,255,255,.5)
}

nav ol li a{
    padding:20px 20px 17px 35px;
    display: block;
    border-bottom:3px solid transparent;
    color:#021D3C;
    text-decoration: none;
    font-weight: 300;
}

nav ol li a:hover{
    background:#021D3C;
    color:white;
    text-decoration: none;
}

.docs{
    display: none;
}

.container{
    float:right;
    width:83%;
    background: transparent;
    overflow-x:hidden;
    overflow-y:auto;
    padding:40px;
    border-left:2px solid #021D3C;
}

article{
  margin:10px;
  padding:1em;
}

.container h1{
  font-size: 2em;
  padding: 50px 0 0px 0;
}

.container h1:not(:first-child) {
  margin-top: 60px;
  border-top: 2px solid #021D3C;
}

.container h2{
  font-size:1.5em;
  margin: 60px 0 20px 0;
}

.container p{
    padding:  0 30px;
    font-size: 1.1em;
}

article pre{
    font-family: monospace;
    margin: 0 0 10px 40px;
    border:none;
}

pre{
    margin:30px;
}

code {
    margin: 0 2px;
    padding: 2px 4px;
}

/*code:hover {
    padding: 10px;
}*/

/*EXAMPLESSSSS*/
#user-edit div{
    font-size: 2.7em;
    padding-bottom:20px;
    margin-bottom:30px;
}

#user-edit div div{
    color:#021D3C;
    font-weight:100;
    text-align: center;
    //background:#F9F2F4;
    border-radius:5px;
    }

#attributes div{
    margin-left: 20px;
}

#inputs div p input{

}

footer{
    background:#021D3C;
    width: 100%;
    height:200px;
    float: left;
}

footer h1{
    width: auto;
    margin:auto;
    display: block;
    font-size: 2em;
    padding:10px;
    font-weight:100;
    color:white;
}